Source: nordic-nrf5x-tools
Section: contrib/electronics
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9), po-debconf, txt2man
Standards-Version: 3.9.8

Package: nrf5x-mdk-gcc-installer
Architecture: all
Depends: ${misc:Depends}
Recommends: gcc-arm-none-eabi
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-cmd-line-tools-installer
Architecture: all
Depends: ${misc:Depends}, jlink | segger-jlink-installer
Conflicts: nrfjprog-compatibility
Description: Installer for nrfjprog and mergehex

Package: nrf5x-sdk-4-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-sdk-5-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-sdk-6-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-sdk-10-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-sdk-12-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-sdk-11-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-sdk-13-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips
 Has Bluetooth 5 support

Package: nrf5x-sdk-14-installer
Architecture: all
Depends: ${misc:Depends}
Description: Installer for the MDK used by nRF5x chips

Package: nrf5x-softdevice-s110-5-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF51 peripheral (v5)

Package: nrf5x-softdevice-s110-6-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF51 peripheral (v6)

Package: nrf5x-softdevice-s110-8-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF51 peripheral (v8)

Package: nrf5x-softdevice-s110-7-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF51 peripheral (v7)

Package: nrf5x-softdevice-s112-5-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF52810 (v5)

Package: nrf5x-softdevice-s132-2-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF52 (v2)

Package: nrf5x-softdevice-s132-3-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF52 (v3)

Package: nrf5x-softdevice-s132-4-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF52 (v4)

Package: nrf5x-softdevice-s132-5-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF52 (v5)

Package: nrf5x-softdevice-s140-5-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF52840 (v5)

Package: nrf5x-softdevice-s140-6-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF52840 (v6)

Package: nrf5x-softdevice-s130-2-installer
Architecture: all
Depends: ${misc:Depends}
Description: BLE softdevice for nRF51 (v2)

Package: segger-jlink-installer
Architecture: amd64
Depends: ${misc:Depends}, python3-requests, rsync
Conflicts: jlink
Description: Installer for JLINK segger software

Package: nrfjprog-python
Architecture: all
Depends: ${misc:Depends}, python3, jlink | segger-jlink-installer
Description: Simple nrfjprog alternative written in Python

Package: nrfjprog-compatibility
Architecture: all
Depends: ${misc:Depends}
Conflicts: nrf5x-cmd-line-tools-installer
Description: Symbolic link from nrfjprog to python
