#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk


export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CHANGELOG_DATE ?= $(shell date -d "`dpkg-parsechangelog --show-field Date`" +"%d %B %Y")

MDK_GCC_VERSION 			= 8.11.1
CMD_LINE_TOOLS_VERSION 		= 9.2.1
S132_5_VERSION 		= 5.0.0.1~alpha
SDK_11_VERSION 		= 11.0.0.89a8197
SDK_12_VERSION 		= 12.2.0.f012efa

%:
	dh $@ 


override_dh_auto_clean:
	dh_auto_clean

override_dh_gencontrol:
	dh_gencontrol -pnrf5x-mdk-gcc-installer -- -v$(MDK_GCC_VERSION)
	dh_gencontrol -pnrf5x-cmd-line-tools-installer -- -v$(CMD_LINE_TOOLS_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s132-5-installer -- -v$(S132_5_VERSION)
	dh_gencontrol -pnrf5x-sdk-11-installer -- -v$(SDK_11_VERSION)
	dh_gencontrol -pnrf5x-sdk-12-installer -- -v$(SDK_12_VERSION)

