#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk


export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

CHANGELOG_DATE ?= $(shell date -d "`dpkg-parsechangelog --show-field Date`" +"%d %B %Y")

MDK_GCC_VERSION 			= 8.11.1
CMD_LINE_TOOLS_VERSION 		= 9.2.1
S110_6_VERSION 		= 6.2.1
S110_7_VERSION 		= 7.3.0
S110_8_VERSION 		= 8.0.0
S130_2_VERSION 		= 2.0.1
S132_2_VERSION 		= 2.0.1
S132_3_VERSION 		= 3.1.0
S132_4_VERSION 		= 4.0.0.1~alpha
S132_5_VERSION 		= 5.0.0.1~alpha
SDK_4_VERSION 		= 4.4.2.33551
SDK_5_VERSION 		= 5.2.0.39364
SDK_6_VERSION 		= 6.1.0.b2ec2e6
SDK_10_VERSION 		= 10.0.0.dc26b5e
SDK_11_VERSION 		= 11.0.0.89a8197
SDK_12_VERSION 		= 12.2.0.f012efa

%:
	dh $@ 


override_dh_auto_clean:
	dh_auto_clean

override_dh_gencontrol:
	dh_gencontrol -pnrf5x-mdk-gcc-installer -- -v$(MDK_GCC_VERSION)
	dh_gencontrol -pnrf5x-cmd-line-tools-installer -- -v$(CMD_LINE_TOOLS_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s110-6-installer -- -v$(S110_6_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s110-7-installer -- -v$(S110_7_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s110-8-installer -- -v$(S110_8_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s130-2-installer -- -v$(S130_2_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s132-2-installer -- -v$(S132_2_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s132-3-installer -- -v$(S132_3_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s132-4-installer -- -v$(S132_4_VERSION)
	dh_gencontrol -pnrf5x-softdevice-s132-5-installer -- -v$(S132_5_VERSION)
	dh_gencontrol -pnrf5x-sdk-4-installer -- -v$(SDK_4_VERSION)
	dh_gencontrol -pnrf5x-sdk-5-installer -- -v$(SDK_5_VERSION)
	dh_gencontrol -pnrf5x-sdk-6-installer -- -v$(SDK_6_VERSION)
	dh_gencontrol -pnrf5x-sdk-10-installer -- -v$(SDK_10_VERSION)
	dh_gencontrol -pnrf5x-sdk-11-installer -- -v$(SDK_11_VERSION)
	dh_gencontrol -pnrf5x-sdk-12-installer -- -v$(SDK_12_VERSION)

